//--------------VERY---IMPORTANT----NUMBER------------
$num:2.7;
:root{
    --numx: 3;
}
//--------------VERY---IMPORTANT----NUMBER------------
.solar-sistym {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
}
.sun {
    position: absolute;
    height:calc( 30px*var(--numx));
    width:calc(30px*var(--numx));
    border-radius: 50%;
    background: url(../img/Sun2.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    animation: rotate 10s linear infinite;
    z-index: 2;
    transition: 2s;
}
.sun:hover{
    height:calc(30px*var(--numx)*3);
    width:calc(30px*var(--numx)*3);
    -webkit-box-shadow: -5px 14px 100px 100px rgba(249, 37, 4, 1);
    -moz-box-shadow: -5px 14px 100px 100px rgba(249, 37, 4, 1);
    box-shadow: -5px 14px 100px 100px rgba(249, 37, 4, 1);
}

@keyframes rotate {
    from{
        transform: rotate(360deg);
    }
    to{

    }
}

%orbit{
    position: absolute;
    border-radius: 50%;
    border: 2px solid rgba(128, 128, 128, 0.5);;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

%planet{
    z-index: 2;
    border-radius: 50%;
    position: absolute;
    background-size: cover;
}


%SizeOfPlanetMercury{ height:calc(3px*var(--numx)); width:calc(3px*var(--numx));}
%SizeOfPlanetVenus{ height:calc(5px*var(--numx)); width:calc(5px*var(--numx));}
%SizeOfPlanetEarth{ height:calc(5px*var(--numx)); width:calc(5px*var(--numx));}
%SizeOfPlanetMars{ height:calc(4px*var(--numx)); width:calc(4px*var(--numx));}
%SizeOfPlanetJupiter{ height:calc(10px*var(--numx)); width:calc(10px*var(--numx));}
%SizeOfPlanetSaturn{ height:calc( 15px*var(--numx)); width: calc(15px*var(--numx));}
%SizeOfPlanetUranus{ height:calc( 7px*var(--numx)); width:calc(7px*var(--numx));}
%SizeOfPlanetNeptune{ height:calc( 7px*var(--numx)); width:calc(7px*var(--numx));}

%SizeOfPlanetMercuryOrbit{ height:calc(30px * var(--numx)); width:calc( 30px * var(--numx));}
%SizeOfPlanetVenusOrbit{ height:calc( 50px * var(--numx)); width:calc( 50px * var(--numx));} 
%SizeOfPlanetEarthOrbit{ height:calc( 70px * var(--numx)); width:calc( 70px * var(--numx));} 
%SizeOfPlanetMarsOrbit{ height:calc( 90px * var(--numx)); width:calc( 90px * var(--numx));} 
%SizeOfPlanetJupiterOrbit{ height:calc(130px * var(--numx)); width:calc( 130px * var(--numx));} 
%SizeOfPlanetSaturnOrbit{ height:calc( 170px * var(--numx)); width:calc( 170px * var(--numx));} 
%SizeOfPlanetUranusOrbit{ height:calc( 230px * var(--numx)); width:calc( 230px * var(--numx));} 
%SizeOfPlanetNeptuneOrbit{ height:calc( 200px * var(--numx)); width:calc( 200px * var(--numx));} 


@keyframes orbit {
    from{
        
        transform: rotate(0deg) translateX(calc(15px * var(--numx))) rotate(0deg);
       
    }
    to{
        transform: rotate(360deg) translateX(calc(15px * var(--numx))) rotate(360deg);
    }
}
@keyframes orbit2 {
    from{
        
        transform: rotate(0deg) translateX(calc(25px * var(--numx))) rotate(0deg);
       
    }
    to{
        transform: rotate(360deg) translateX(calc(25px * var(--numx))) rotate(360deg);
    }
}
@keyframes orbit3 {
    from{
        
        transform: rotate(0deg) translateX(calc(35px * var(--numx))) rotate(0deg);
       
    }
    to{
        transform: rotate(360deg) translateX(calc(35px * var(--numx))) rotate(360deg);
    }
}
@keyframes orbit4 {
    from{
        
        transform: rotate(0deg) translateX(calc(45px * var(--numx))) rotate(0deg);
       
    }
    to{
        transform: rotate(360deg) translateX(calc(45px * var(--numx))) rotate(360deg);
    }
}
@keyframes orbit5 {
    from{
        
        transform: rotate(0deg) translateX(calc(65px * var(--numx))) rotate(0deg);
       
    }
    to{
        transform: rotate(360deg) translateX(calc(65px * var(--numx))) rotate(360deg);
    }
}
@keyframes orbit6 {
    from{
        
        transform: rotate(0deg) translateX(calc(85px * var(--numx))) rotate(0deg);
       
    }
    to{
        transform: rotate(360deg) translateX(calc(85px * var(--numx))) rotate(360deg);
    }
}
@keyframes orbit8 {
    from{
        
        transform: rotate(0deg) translateX(calc(115px * var(--numx))) rotate(0deg);
       
    }
    to{
        transform: rotate(360deg) translateX(calc(115px * var(--numx))) rotate(360deg);
    }
}
@keyframes orbit9 {
    from{
        
        transform: rotate(0deg) translateX(calc(100px * var(--numx))) rotate(0deg);
       
    }
    to{
        transform: rotate(360deg) translateX(calc(100px * var(--numx))) rotate(360deg);
    }
}
.mercury-orbit{@extend %orbit; @extend %SizeOfPlanetMercuryOrbit}
.venus-orbit{@extend %orbit; @extend %SizeOfPlanetVenusOrbit}
.earth-orbit{@extend %orbit; @extend %SizeOfPlanetEarthOrbit}
.mars-orbit{@extend %orbit; @extend %SizeOfPlanetMarsOrbit}
.jupiter-orbit{@extend %orbit; @extend %SizeOfPlanetJupiterOrbit}
.saturn-orbit{@extend %orbit; @extend %SizeOfPlanetSaturnOrbit}
.Neptune-orbit{@extend %orbit; @extend %SizeOfPlanetNeptuneOrbit}
.uranus-orbit{@extend %orbit; @extend %SizeOfPlanetUranusOrbit}





.mercury {
    @extend %planet;
    @extend %SizeOfPlanetMercury;
    background-image: url(../img/Mercury5.png);
    animation: orbit 10s linear infinite;
    transition: 2s;
    cursor: pointer;
}
.mercury:hover{
    height:calc(3px*var(--numx)*3); width:calc(3px*var(--numx)*3);
}
.venus{
    transition: 2s;
    cursor: pointer;

    background-image: url(../img/venus2.png);
    @extend %planet;
    @extend %SizeOfPlanetVenus;
    animation: orbit2 15s linear infinite;
}
.venus:hover{
    height:calc(5px*var(--numx)*3); width:calc(5px*var(--numx)*3);
}
.earth {
    transition: 2s;
    cursor: pointer;

    background-image: url(../img/LastEarth.png);
    @extend %planet;
    @extend %SizeOfPlanetEarth;
    animation: orbit3 20s linear infinite;
}
.earth:hover{
    height:calc(5px*var(--numx)*3); width:calc(5px*var(--numx)*3);
}
.mars {
    transition: 2s;
    cursor: pointer;

    background-image: url(../img/Mars.png);
    @extend %planet;
    @extend %SizeOfPlanetMars;
    animation: orbit4 25s linear infinite;
}
.mars:hover{
    height:calc(4px*var(--numx)*3); width:calc(4px*var(--numx)*3);
}
.jupiter {
    transition: 2s;
    cursor: pointer;

    background-image: url(../img/Jupiter.png);
    @extend %planet;
    @extend %SizeOfPlanetJupiter;
    animation: orbit5 45s linear infinite;
}
.jupiter:hover{
    height:calc(10px*var(--numx)*3); width:calc(10px*var(--numx)*3);
}
.saturn {
    transition: 2s;
    cursor: pointer;

    background-image: url(../img/Saturn5.png);
    @extend %planet;
    @extend %SizeOfPlanetSaturn;
    animation: orbit6 50s linear infinite;
}
.saturn:hover{
    height:calc( 15px*var(--numx)*3); width:calc( 15px*var(--numx)*3);
}
.uranus {
    transition: 2s;
    cursor: pointer;

    background-image: url(../img/Uran.png);
    @extend %planet;
    @extend %SizeOfPlanetUranus;
    animation: orbit8 55s linear infinite;
}
.uranus:hover{
    height:calc( 7px*var(--numx)*3); width:calc(7px*var(--numx)*3);
}
.Neptune {
    transition: 2s;
    cursor: pointer;
    background-image: url(../img/Neptun.png);
    @extend %planet;
    @extend %SizeOfPlanetNeptune;
    animation: orbit9 60s linear infinite;
}
.Neptune:hover{
    height:calc( 7px*var(--numx)*3); width:calc(7px*var(--numx)*3);
}

//-------------------------------------@MEDIA-----------------------------//

@media(max-width:1150px){
 :root{
    --numx:2;
 }

}
@media(max-width:500px){
    :root{
        --numx:1.5;
     }
    
}

@media(max-width:320px){
    :root{
        --numx:1;
     }
    
}

